# Required
package-lock.json
node_modules/
build/

# React native ignore
web-build/
.expo-shared/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Local file
config/keys.dev.js
